<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/lab-10/dashboard/">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'lab-10:movie_list' %}" style="color: black;font-family:cursive, sans-serif">Daftar Movie</a></li>
        <li><a href="{% url 'lab-10:list_watch_later' %}" style="color: black;font-family:cursive, sans-serif">Daftar Watch Later</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>