
<!-- Fixed navbar -->
<nav class="navbar navbar-light navbar-static-top" style="background-color:#00695C;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="home"></span>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand glyphicon glyphicon-home" href="{% url 'lab-4:index' %}" aria-hidden="true" style="color: white"></a>
      <a class="navbar-brand" href="{% url 'lab-4:index' %}" style="color: #ECEFF1; font-family:cursive, sans-serif" >Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="{% url 'lab-4:index' %}#form" style="color: #ECEFF1;font-family:cursive, sans-serif"> Form </a></li>
        <li><a href="{% url 'lab-4:result_table' %}" style="color: #ECEFF1;font-family:cursive, sans-serif"> Messages Table </a> </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
