{% extends "lab_10/layout/base.html" %}

{% block header %}
{% include "lab_10/partials/header.html" %}
{% endblock %}

{% block content %}
<div class="row"  style="margin-top: 80px;">
    <!-- <h1> Catatan : Buatlah halaman detail movie sesuai selera dan kreatifitas kalian </h1>

    <br>
    <h2> Raw Data (json) </h2>
    <p> {{ movie }} </p>
    <hr> -->
    <h2> Contoh cara mengambil judul: </h2>
    <h1 style="color:red"> {{movie.title}} ({{movie.year}})</h1>
    <h3>Rated : {{movie.rated}}</h3>
    <h3 style="color: black">{{movie.runtime}} | {{movie.genre}} | {{movie.released}} </h3>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <img src="{{movie.poster}}" width="250px" height="350px">
        </div>
        <div class="col-sm-9">
            <h3 style="font-family: Open Sans Condensed">{{movie.plot}}</h3>
            <h4 style="font-family: Open Sans Condensed"><b>Production :</b> {{movie.production}} </h4>
            <h4 style="font-family: Open Sans Condensed"><b>Director :</b> {{movie.director}} </h4>
            <h4 style="font-family: Open Sans Condensed"><b>Writer :</b> {{movie.writer}} </h4>
            <h4 style="font-family: Open Sans Condensed"><b>Actor :</b> {{movie.actors}} </h4>
            <div>
                <div class="col-sm-4" style="padding: 5px;border: 1px solid black">Metascore: {{movie.metascore}}</div>
                <div class="col-sm-4" style="padding: 5px;border: 1px solid black">IMDB rating: {{movie.imdbrating}}</div>
                <div class="col-sm-4" style="padding: 5px; border: 1px solid black">IMDB vote: {{movie.imdbvotes}}</div>
            </div>
            
        </div>
    </div>

    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
{% endblock %}
