{% extends "lab_10/layout/base.html" %}


{% block header %}
{% include "lab_10/partials/header.html" %}
{% endblock %}

{% block content %}
<div class="row"  style="margin-top: 80px;">
    {% for movie in watch_later_movies %}
    <div class="movie-detail" style="background-color: #E0E0E0;padding: 5px">
	    <h1 style="color:red"> {{movie.title}} ({{movie.year}})</h1>
	    <h3>Rated : {{movie.rated}}</h3>
	    <h3 style="color: black">{{movie.runtime}} | {{movie.genre}} | {{movie.released}} </h3>
	    <br>
	    <div class="row">
	        <div class="col-sm-3">
	            <img src="{{movie.poster}}" width="250px" height="350px">
	        </div>
	        <div class="col-sm-9">
	            <h3 style="font-family: Open Sans Condensed">{{movie.plot}}</h3>
	            <h4 style="font-family: Open Sans Condensed"><b>Production :</b> {{movie.production}} </h4>
	            <h4 style="font-family: Open Sans Condensed"><b>Director :</b> {{movie.director}} </h4>
	            <h4 style="font-family: Open Sans Condensed"><b>Actor :</b> {{movie.actors}} </h4>
	            
	        </div>
	    </div>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}
