{% extends "lab_8/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}

<div id="lab8">
	<button  class="loginBtn loginBtn--facebook" onclick="facebookLogin()" style="background-color: blue;color: white; margin: 100px; width:300px;"><i class="fa fa-facebook left"></i>Login with Facebook</button>
</div>
{% endblock %}