{% extends "lab_4/layout/base.html" %}

{% block content %}
{% load staticfiles %}
<div align="CENTER">
    <div style="background-image: url({% static 'img/ice.jpeg' %});">
        <h1 style="color: #E0F7FA">Portofolio</h1>
        <section name="picture" >
            <img src="{% static 'img/profile.jpg' %}" class="img-circle" width="300" height="300" />
        </section>
        <section name="identity" >
            <h1 class="display-1" style="color: #E0F7FA; font-family: fantasy;">Fairuz Yassar</h1>
            <h3 class="jobs" style="color: #E0F7FA">Information System Student</h3>
        </section>
    <hr/>
    </div>
    <section name="bio" >
        <h2>Bio</h2>
        <p>
            {{content}}
         </p>    
    </section>
</div>
<div style="background-color: #80CBC4">
<hr/>
<section name="about_me">
    <h2 align="CENTER">List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
</div>
<section name="form">
    <h2 align="CENTER">Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</section>
{% endblock %}
