{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2>Friend Fasilkom</h2>
                    <div id="friend-list" class="list-group" style="margin-left: 100px">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            // {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
                url : "{% url 'lab-7:friend-data' %}",
                // [#URL untuk mendapatkan list teman],
                dataType: 'json',
                success: function (response) {
                    console.log(response.length)
                    if (response.length == 0) {
                        empty = '<div class="alert alert-danger text-center"><strong>Opps!</strong> Tidak ada teman </div>';
                        $("#friend-list").append(empty)
                    }
                    else{
                        for (var i = 0;i < response.length; i++) {
                        // html = '<a class="list-group-item clearfix" style="width: 500px; margin-left: 100px">'+'<span class="pull-right">' 
                        html = '<a class="list-group-item clearfix" style="width: 700px; margin-left: 100px;" id="'+response[i].fields.npm+ '">' + response[i].fields.friend_name+ " (" +response[i].fields.npm+")"+ '<button style="margin-left: 100px; float:right;" onclick="deleteFriend('+ "'"+response[i].fields.npm+ "'"+ ')">Hapus Pertemanan </button>' +'</a>';
                        $("#friend-list").append(html)
                        }    
                    }
                    // #tampilkan list teman ke halaman
                    // #hint : gunakan fungsi jquery 
                    // #append()
                },
                error: function(error){
                    alert(error)
                    // #tampilkan pesan error
                }
            });
        });

        var deleteFriend = function(id) {
            $.ajax({
                method: "POST",
                url: "/lab-7/delete-friend/"+id+"/",
                success : function (friend) {
                    $("#"+id).remove();
                },
                error : function (error) {
                    alert("error")
                }
            });
        };
    </script>
{% endblock %}
